@use '../abstracts/' as abs;

.domain {

    &__info { 
        @include abs.for-desktop-up {
            max-width: abs.toRem(400);
        }
    }

    &__form {
        margin-block-start: 6em;

        @include abs.for-tablet-up {
            margin-block-start: 0;
            width: 100%;
        }
    }

    &__group {
        box-shadow: -5px 5px 30px rgba(0, 0, 0, .15);
        border-radius: 2em;
        width: fit-content;
        max-width: 100%;
        overflow: hidden;
        display: flex;

        @include abs.for-tablet-up {
            width: 100%;
        }
    }

    &__input {
        border-color: transparent;
        border-radius: 0;
        border-block-start: 2em;
    }

    &__select {
        border-color: transparent;
        border-radius: 0;
        width: abs.toRem(80);
        font-size: abs.toRem(14);
        appearance: none;

        @include abs.for-desktop-up {
            width: abs.toRem(120);
        }
    }

    &__submit {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        min-width: unset;
        width: 30%;
        overflow-wrap: break-word;
        white-space: normal;
        font-weight: 400;

        @include abs.for-desktop-up {
            min-width: abs.toRem(160);
        }
    }
}