@use '../abstracts' as abs;

.header {
    padding-block: 2em;
    position: relative;
    &__container {
        @include abs.flex-jc-sb;
    }
    &__nav {
        // display: none;
        width: 100%;
        height: 100vh;
        @include abs.absolute;
        background-color: abs.$clr-white;
        color: abs.$clr-white;
        @include abs.flex-col-center;
        overflow: hidden;

        &.active {
            opacity: 1;
            translate: 0;
        }

        &::after {
            content: '';
            width: 110%;
            height: 100vh;
            background-color: abs.$clr-primary;
            @include abs.absolute(0, -40vw);
            transform: skew(-14deg) translateX(-50vh);
            opacity: 0;

        }
    }
}