@use '../abstracts/' as abs;

.burger {
    width: abs.toRem(40);
    padding: .35em;
    aspect-ratio: 1;
    background-color: transparent;
    opacity: .8;
    // @include flex-col-center;
    transition: opacity 300ms linear;
    position: relative;
    z-index: 1000;
    
    @include abs.for-tablet-up {
        display: none;
    }

    &:hover,
    &:focus {
        opacity: 1;
    }

    &:focus {
        border: 1px solid abs.$clr-white;
    }

    &__line {
        display: block;
        width: 100%;
        height: abs.$burger-line-height;
        background-color: abs.$burger-bg;
        border-radius: 2em;
        transition: transform 300ms ease-in-out;

        &:not(:last-child) {
            margin-block-end: .3em;
        }
    }

    &--active {
        .burger__line {
            &--top {
                transform: translateY(calc(abs.$burger-line-height + .3em)) rotate(45deg);
            }
            &--mid {
                opacity: 0;
                transition: opacity 150ms linear;
            }
            &--bot {
                transform: translateY(calc((abs.$burger-line-height + .3em) * -1)) rotate(-45deg);
            }
        }
    }
}