@use '../abstracts' as abs;

%btn {
    outline: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    background-color: abs.$clr-white;
    color: abs.$clr-primary;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    border-radius: 2em;
    padding: .5em 1em;
    display: inline-block;
    min-width: abs.toRem(160);
}


.btn {
    @extend %btn;
    transition: box-shadow 300ms ease-in-out, translate 300ms ease-in-out;

    &:hover,
    &:focus {
        box-shadow: 3px 5px 10px rgba(0, 0, 0, .35);
        translate: 0 -5px;
    }

    &--primary {
        background-color: abs.$clr-primary;
        color: abs.$clr-white;
    }


    &--bg {
        background-color: abs.$clr-primary;
        color: abs.$clr-white;
        transition: background-color 300ms ease-in-out, color 300ms ease-in-out, translate 300ms ease-in-out;

        &:hover {
            background-color: abs.$clr-white;
            color: abs.$clr-primary;
        }
    }
}