.form {
    &__input {
        outline: none;
        cursor: pointer;
        display: block;
        width: 100%;
        padding: 1em 1.5em;
        border: 1px solid #ccc;
        border-radius: 2em;
    }
}