@use '../abstracts/' as abs;

.wrapper {
    width: 90%;
    max-width: abs.$max-width;
    margin-inline: auto;
    padding: .25em;
}

.section {
    padding-block: 5em;

    &.section--pattern {
        padding-block-end: 0;
    }

    &__info {
        margin-block-end: 2em;

        @include abs.for-tablet-up {
            margin-block-end: 4em;
        }
    }

    &__title {
        font-size: 1.875rem;
        font-size: clamp(1.875rem, 1.4799618320610688rem + 1.8320610687022902vw, 2.625rem);
        font-weight: 500;
        text-transform: capitalize;
    }

    &__lead {
        font-size: abs.toRem(18);
        font-weight: 400;
        color: abs.$clr-text-2;
    }
}

.title {
    font-size: 2.625rem;
    font-size: clamp(2.625rem, 1.3rem + 4.1vw, 5.125rem);

    &--lead {
        font-size: 1.875rem;
        font-size: clamp(1.875rem, 1.6rem + 0.9vw, 2.25rem);
    }
}

.lead {
    font-size: abs.toRem(20);
}

.text-center {
    text-align: center;
}

.checkmark {
    &::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: .8em;
        display: inline-block;
        margin-inline-end: .5em;
        content: "\f00c";
    }
}

.visually-hidden {
    position: absolute;
    left:     -10000px;
    top:      auto;
    width:    1px;
    height:   1px;
    overflow: hidden;
  }

.flow > *:where(:not(:first-child)) {
    margin-top: 1em;
}

// bgs
.bg-primary {
    background-color: abs.$clr-primary;
    color: abs.$clr-white;
}

.bg-blue-gray {
    background-color: abs.$clr-blue-gray;
}


.flex {
    @include abs.flex-col;

    @include abs.for-tablet-up {
        flex-direction: row;
        align-items: flex-start;

        & > * {
            flex: 1;
        }
    }
}

.flex-col-3 {
    display: flex;
    flex-wrap: wrap;
    gap: 3em 2em;

    & > * {
        flex: 1;
        min-width: abs.toRem(300);
    }
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-halfs {
    @include abs.flex-col;
    align-items: center;

    @include abs.for-tablet-up {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;

        & > * {
            flex-basis: 50%;
        }
    }
}

.border-bt {
    border-block-end: 2px solid abs.$clr-text-2;
}

.color-accent {
    color: abs.$clr-primary;
}