@use '../abstracts/' as abs;

.wrapper {
    width: 90%;
    max-width: abs.$max-width;
    margin-inline: auto;
    padding: .25em;
}

.section {
    padding-block: 5em;

    &__info {
        margin-block-end: 2em;
    }

    &__title {
        font-size: 1.875rem;
        font-size: clamp(1.875rem, 1.4799618320610688rem + 1.8320610687022902vw, 2.625rem);
        font-weight: 500;
        text-transform: capitalize;
    }

    &__lead {
        font-size: abs.toRem(18);
        font-weight: 400;
    }
}

.visually-hidden {
    position: absolute;
    left:     -10000px;
    top:      auto;
    width:    1px;
    height:   1px;
    overflow: hidden;
  }

.flow > *:where(:not(:first-child)) {
    margin-top: 1em;
}

// bgs
.bg-primary {
    background-color: abs.$clr-primary;
    color: abs.$clr-white;
}


.title {
    font-size: 2.625rem;
    font-size: clamp(2.625rem, 1.3rem + 4.1vw, 5.125rem);

    &--lead {
        font-size: 1.875rem;
        font-size: clamp(1.875rem, 1.6rem + 0.9vw, 2.25rem);
    }
}

.lead {
    font-size: abs.toRem(20);
}


.flex-halfs {
    @include abs.flex-col;
    align-items: center;

    @include abs.for-tablet-up {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }
}