@use './functions' as f;

$clr-primary: hsl(217, 78%, 49%);
$clr-accent: hsl(165, 80%, 43%);
$clr-white: hsl(0, 0%, 100%);
$clr-dark: hsl(0, 0%, 20%);
$clr-text:  hsl(0, 0%, 19%);
$clr-text-2: hsl(0, 0%, 44%);
$body-bg: hsl(0, 0%, 100%);

$max-width: f.toRem(1110);

// Fonts
$font-primary: "Archivo";

$burger-line-height: 2px;
$burger-bg: hsl(0, 0%, 100%);

$bp-tablet: f.toRem(600);
$bp-desktop: f.toRem(1000);